/*/// RESET CSS ////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Source Sans Pro', sans-serif;
}

html p {
    text-align: justify;
}

html h2 {
    font-family: 'Roboto Slab', serif;

}

/*//////////////// GRID CONTAINER ///////////////////////*/


.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/* //////////////////////////////// HEADER ///////////////////////// */



.container-grid .header {
    grid-area: header;

    width: 100%;
    height: 600px;
    /* background: #a8ff78; */
    /* uigradients.com*/
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

/** menu **/
.container-grid .header .nav-menu img {
    width: 55%;
}

.container-grid .header .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(33, 13%, 14%, 0.486);
}

.container-grid .header .nav-menu ul {
    display: flex;
    list-style: none;
}

.container-grid .header .nav-menu li {
    margin: 10px 35px 0px 1px;
}

.container-grid .header .nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.container-grid .header .nav-menu a:hover {
    color: rgb(19, 41, 2);
    font-weight: bold;
    text-shadow: 5px 5px 10px black;
}

/* //////////////////////////// MAIN ////////////////////////////// */
.main {
    grid-area: main;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main .contenedor-main .titulo-section {
    background-color: #eadbc494;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.main .contenedor-main .titulo-section h1 {
    border-top: darkgreen solid 1px;
    font-size: 2rem;
}

.main .contenedor-main {
    width: 80%;
    margin-top: -187px;
    background-color: rgb(255, 255, 255);

    /* Sombra en el contenedor central */
    box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -webkit-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -moz-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
}

.main .contenedor-main .novedad img {
    width: 90%;
}

.main .contenedor-main .novedad {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.main .contenedor-main .novedad p {
    margin-right: 1rem;
}


/*///////////////////////////FOOTER /////////////////////////////////*/
.footer {
    grid-area: footer;
    background-color: rgb(94, 83, 50);
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
}

.footer .legal {
    display: flex;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer .footer-container .coop-footer {
    padding: 1rem;
    border-right: rgb(41, 36, 22) 1px solid;
}

.footer .footer-container .contact-footer {
    border-right: rgb(41, 36, 22) 1px solid;
    padding: 3rem;
    padding-right: 10rem;
}

.footer .footer-container .link-footer {
    padding: 1rem;
    padding-right: 10rem;
}

.footer .footer-container .link-footer h3 {
    margin-bottom: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.76);
    margin-left: 1rem;
}

.footer ul {
    list-style: none;
}

.footer h4,
h3 {
    color: cadetblue;
}

.footer i {
    color: cadetblue;
    width: 2rem;

}

/*///////////////// PERSONAL ////////////////*/
.main {
    display: flex;
    justify-content: center;
}

.main .personal {
    margin-top: -150px;
}

.main .personal section {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main .personal div {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.main .personal div img {
    width: 250px;
    border-radius: 50%;
    border: 5px hsla(0, 0%, 100%, 0.425) solid;
    /* ---------------------------------------------------https://shadows.brumm.af/ */
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, -0.001),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.006),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.016),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.029),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.044),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.main .personal div p {
    padding-left: 1rem;
    width: 90%;
    margin-right: 1rem;
}

.main .personal div h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*//////////// SILOS ////////////////*/

.main .silo section div img {
    width: 450px;
    border-radius: 0%;
    border: 5px hsla(0, 0%, 100%, 0.425) solid;
    /* ---------------------------------------------------https://shadows.brumm.af/ */
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, -0.001),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.006),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.016),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.029),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.044),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.main .silo {
    margin-top: -187px;
}

.main .silo section div h3 {
    margin-left: 2rem;
}

.main .silo section div ul {
    margin-left: 3rem;
}

.main .silo section div form {
    margin: 3rem 3rem 3rem 3rem;

}

/*///////////////MERCADO ////////////////*/

.mercado-contenedor {
    width: 80%;
    margin-top: -30%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.galeria-img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}


.galeria-items:nth-child(4) {
    grid-column-start: span 2;

}

.galeria-items:nth-child(5) {
    grid-row-start: span 2;

}

/*//////////////// PICADO ///////////////*/
.main .picado {
    margin-top: -330px;
}

.main .picado .text-picado {
    background-color: antiquewhite;
    margin: 20px;
}

.main .picado .img-picadora {
    display: flex;
    justify-content: center;
}

.main .picado .img-picadora img {
    width: 80%;
    margin-bottom: 60px;
}

.main .picado .contacto-grid {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: -180px;
}

.main .picado section h3 {
    background-color: antiquewhite;
    margin-top: 20px;
    justify-content: center;
}

/*//////////////// MEDIA QUERY /////////////*/
@media only screen and (max-width:1400px) {
    .main .silo {
        margin-top: -400px;
    }
}

@media only screen and (max-width:1200px) {

    .main .silo section div img {
        width: 250px;
        border-radius: 0%;
        border: 5px hsla(0, 0%, 100%, 0.425) solid;
        /* ---------------------------------------------------https://shadows.brumm.af/ */
        box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, -0.001),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.006),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.016),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.029),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.044),
            100px 100px 80px rgba(0, 0, 0, 0.07);

    }

    .main .silo {

        padding: 0;
        margin-top: -400px;
    }

    .main .picado .contacto-grid {
       margin-bottom: 70px;
    }
    .main .picado .text-picado {
        width: 100%;
        margin: 0;
        
    }
    
}

@media only screen and (max-width:1094px) {
    .footer .footer-container .coop-footer {
        margin-left: 1rem;
    }

    .footer .footer-container .contact-footer {
        padding: 0rem;
        margin-top: 3rem;
        border-right: 0px;
    }

    .footer .footer-container .link-footer {
        padding: 0rem;
        margin-top: 2rem;
    }

    .footer .footer-container .legal {
        margin-top: 50px;
    }

    .main .silo {
        margin-top: -400px;
    }
    .main .picado .contacto-grid {
        margin-bottom: -100px;
     }
     .main .picado .text-picado {
         width: 100%;
         margin: 0;
         
     }
}

@media only screen and (max-width:768px) {

    .main .contenedor-main {
        width: 100%;
        margin-top: -187px;
        padding: 0px;
    }

    .container-grid .header .nav-menu img {
        width: 200px;
    }

    .footer .footer-container .coop-footer {
        display: none;
    }

    .footer .legal {
        margin-top: 50px;
    }

    .main .silo {
        margin-top: -500px;
    }
    .main .picado .contacto-grid {
        margin-bottom: -50px;
    }
     .main .picado .text-picado {
         width: 100%;
         margin: 0;
         padding: 10px;
         text-align: justify;         
     }
     .main .picado .video-picado{
         display: flex;
         justify-content: center;        
     }
     .main .picado .video-picado iframe{
         width: 80%;
     }
}

@media only screen and (max-width:695px) {
    .container-grid .header .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .container-grid .header .nav-menu li {
        margin: 5px;
    }

    .container-grid .header .nav-menu a {
        font-size: 1rem;
        padding: 0px;
    }

    .main .personal {
        margin-top: -180px;
    }

    .main .silo {
        margin-top: -600px;
    }
}

@media only screen and (max-width:550px) {
    .main .personal section img {
        width: 100px;
    }

    .mercado-contenedor {
        width: 80%;
        margin-top: 0px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .galeria-items:nth-child(4) {
        display: none;
    }

    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.1fr;
    }

    .main .silo {
        display: flex;
        margin-top: -200px;


    }
}


@media only screen and (max-width:367px) {
    .main .personal {
        margin-top: -450px;
    }

    .container-grid .header .nav-menu a {
        font-size: 0.8rem;
    }

    .main .personal section img {
        width: 100px;
    }


    .mercado-contenedor {
        width: 80%;
        margin-top: 0px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .galeria-items:nth-child(4) {
        display: none;

    }

    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.1fr 0.1fr;
    }

    .main .silo {
        margin-top: -10px;

    }
}