/*/// RESET CSS ////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: justify;
}


/*//////////////// GRID CONTAINER ///////////////////////*/


.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/* //////////////////////////////// HEADER ///////////////////////// */



.container-grid .header {
    grid-area: header;

    width: 100%;
    height: 600px;
    /* background: #a8ff78; */
    /* uigradients.com*/
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(162, 100%, 74%, 0.555), hsla(96, 8%, 12%, 0.555)), url(../media/img/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

/** menu **/
.container-grid .header .nav-menu img {
    width: 55%;
}

.container-grid .header .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(33, 13%, 14%, 0.486);
}

.container-grid .header .nav-menu ul {
    display: flex;
    list-style: none;
}

.container-grid .header .nav-menu li {
    margin: 10px 35px 0px 1px;
}

.container-grid .header .nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.container-grid .header .nav-menu a:hover {
    color: rgb(19, 41, 2);
    font-weight: bold;
    text-shadow: 5px 5px 10px black;
}

/* //////////////////////////// MAIN ////////////////////////////// */
.main {
    grid-area: main;
    width: 100%;

    display: flex;
    justify-content: center;
}

.main .contenedor-main .titulo-section {
    background-color: #eadbc494;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.main .contenedor-main .titulo-section h1 {
    border-top: darkgreen solid 1px;
    font-size: 2rem;
}

.main .contenedor-main {
    width: 80%;
    margin-top: -187px;
    background-color: rgb(255, 255, 255);

    /* Sombra en el contenedor central */
    box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -webkit-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
    -moz-box-shadow: 1px -13px 40px -5px rgba(14, 28, 23, 0.64);
}

.main .novedad img {
    width: 90%;
}

.main .contenedor-main .novedad {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.main .contenedor-main .novedad p {
    margin-right: 1rem;
}



/*///////////////////////////FOOTER /////////////////////////////////*/
.footer {
    grid-area: footer;
    background-color: rgb(94, 83, 50);    
}

.footer .footer-container{
    display: flex;
    justify-content: space-around;
}
.footer .legal{
    display: flex;
    justify-content: center;
    background-color: black; 
    color: blanchedalmond;
    margin-top: 30px;
    flex-wrap: wrap;
}
.footer .footer-container .coop-footer{
    padding: 1rem;
    border-right: rgb(41, 36, 22) 1px solid;
}
.footer .footer-container .contact-footer{
    border-right: rgb(41, 36, 22) 1px solid;
    padding: 3rem;
    padding-right: 10rem;    
}
.footer .footer-container .link-footer{
    padding: 1rem;
    padding-right: 10rem;  
}
.footer .footer-container .link-footer h3{
    margin-bottom: 0.5rem;
}

.footer a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.76);
    margin-left: 1rem;   
}
.footer ul{
    list-style: none;
}
.footer h4,h3{
    color: cadetblue;
}
.footer i{
    color: cadetblue;
    width: 2rem;

}




/*/////////////////FIN GRID CONTAINER ////////////////*